<h1>Wallaby Maths</h1>

<% if @recents.any? %>
  <div class="recents">
    <h2>Récents</h2>
    <% @recents.sort{|a, b| b[:label] <=> a[:label] }.each do |r| %>
      <p><a href="<%= ENV['MATHS_EXERCICES_ROOT_URL'] + r[:key] %>"><%= r[:label] %></a></p>
    <% end %>
  </div>
<% end %>

<h2>Générer</h2>
<a class="btn" href="<%= uri('/problems') %>">Problèmes</a>
<h3>Opérations</h3>
<a class="btn" href="<%= uri('/additions') %>">Additions</a>
<a class="btn" href="<%= uri('/soustractions') %>">Soustractions</a>
<a class="btn" href="<%= uri('/multiplications') %>">Multiplications</a>
<a class="btn" href="<%= uri('/divisions') %>">Divisions</a>

<p>
  <a class="credits" href="<%= uri('/about') %>">À propos</a>
</p>
