<h1>Wallaby Maths</h1>

<% if @recents.any? %>
  <div class="recents">
    <h2>Récents</h2>
    <% @recents.each do |r| %>
      <p><a href="<%= ENV['MATHS_EXERCICES_ROOT_URL'] + r[:key] %>"><%= r[:label] %></a></p>
    <% end %>
  </div>
<% end %>

<h2>Générer</h2>

<% if @counts[:tables] < 5 %>
<a class="btn" href="<%= uri('/tables') %>">Tables de multiplications</a>
<% else %>
<span class="btn disabled">Tables de multiplications</span>
<% end %>

<% if @counts[:problems] < 5 %>
<a class="btn" href="<%= uri('/problems') %>">Problèmes au hasard</a>
<% else %>
<span class="btn disabled">Problèmes au hasard</span>
<% end %>

<h3>Opérations</h3>

<% if @counts[:additions] < 5 %>
<a class="btn" href="<%= uri('/additions') %>">Additions</a>
<% else %>
<span class="btn disabled">Additions</span>
<% end %>

<% if @counts[:subtractions] < 5 %>
<a class="btn" href="<%= uri('/soustractions') %>">Soustractions</a>
<% else %>
<span class="btn disabled">Soustractions</span>
<% end %>

<% if @counts[:multiplications] < 5 %>
<a class="btn" href="<%= uri('/multiplications') %>">Multiplications</a>
<% else %>
<span class="btn disabled">Multiplications</span>
<% end %>

<% if @counts[:divisions] < 5 %>
<a class="btn" href="<%= uri('/divisions') %>">Divisions</a>
<% else %>
<span class="btn disabled">Divisions</span>
<% end %>

<p>
  <a class="credits" href="<%= uri('/about') %>">À propos</a>
</p>
